<!DOCTYPE html>
<html lang="en">
<title>Owe Money Pay Money App</title>
<head>
    <link rel="stylesheet" href="{{url_for('static',filename='css/moneyApp.css')}}"
</head>
    <body>
    <div class="container">
        <h1>Owe Money Pay Money App</h1>
        <h2>Transaction Entry</h2>
        <h3>Please key in the details of the transaction. Even if the person paid zero!</h3>
        <form action="{{url_for('insertTransactionRecord')}}" method="POST">
            <input title="Key in every group member name, even if they did not pay! Don't let them escape" placeholder="Enter Person Name" type="text" name="person_name" required> <br>
            <input title="How much did he pay? Zero?" placeholder="Enter Moola Amount" type="number" min="0" step="0.01" name="money_amount" required> <br>
            <button type="submit"> Submit </button>
        </form>
        <div class="results">
            <h2>Who owe who?!! Pay up!</h2>
            <textarea id="transactionSplitResult" name="transactionSplitResult" rows="5" cols="100" disabled>Resolved the payments. Please follow up. (This part still under construction)</textarea>
        </div>
    </div>
    </body>
</html>