<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}"
        <title>Initial Layout</title>
    </head>
    <body>
        <header>
            <div class="container">
                <h1 class="logo"> Sonal Hanuman Personal Page</h1>
                <strong><nav>
                    <ul class="menu">
                        <li><a href="{{ url_for('home') }}">Home</a></li>
                        <li><a href="{{ url_for('portfolio') }}">Portfolio</a></li>
                    </ul>
                </nav>
                </strong>
            </div>
        </header>
        <div class="container">
            {%block content%}
            {%endblock%}
        </div>
    </body>
</html>